:root{
    --header-color:rgb(109, 149, 223);
    --main-color:rgb(255, 255, 255);
    --slate: #687888;
    --header:#222831;
    --main:#393E46;
    --alt:#00ADB5;
}

html,body,p,h1,h2,h3{
    margin: 0;
    color: #EEEEEE;
}
#container{
    height: 100vh;
    width: 100vw;
}
#header{
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header)
}
#content{
    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 2fr 7fr;
    height: 90vh;
    width: 100vw;
    background-color: var(--main);
    justify-items: center;
}
.buttons{
    grid-row: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding-bottom: 40px;
}
.button{
    background-color: var(--alt);
    width: 12vw;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
}
#projectsnav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding-top: 30px;
}
#tasks{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 30px;
    width: 70vw;
}
#customprojects{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
}
.customtask{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid var(--slate);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customproject{
    padding: 15px;
    border: 2px solid var(--slate);
    border-radius: 40px;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.taskbutton{
    width: 20px;
    height: 20px;

    padding: 2px;
    border-radius: 5px;
}
dialog{
    background-color: var(--main);
    border: 2px solid var(--header);
    border-radius: 20px;
    width: 20vw;
    padding: 60px;
    font-size: 1.5rem;
}
#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:30px;
}
#inputfield{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
input[type="text"],.modalbutton{
    color:white;
    background-color: var(--header);
    border:none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
}
input[type="checkbox"]{
    accent-color: #687888;
}
.deletebutton{
    background-image: url(assets/delete.svg);
    background-size: contain;
}
.expandbutton{
    background-image: url(assets/expand.svg);
    background-size: contain;
}
.editbutton{
    background-image: url(assets/edit.svg);
    background-size: contain;
}